html
  head
    script.
      var __user = !{JSON.stringify(user)};

  body(ng-app="dualtd")

    | !{cachify_js('/js/dualtd.min.js')}

    dtd-login
    dtd-game

    script#login-tpl(type="text/ng-template")
      include templates/login

    script#game-tpl(type="text/ng-template")
      include templates/game

    script#lobby-tpl(type="text/ng-template")
      include templates/lobby

    script(src="/socket.io/socket.io.js")