html
  head
    | !{cachify_css('/css/dualtd.min.css')}
    script.
      var __user = !{JSON.stringify(user)};


  body(ng-app="dualtd")

    | !{cachify_js('/js/dualtd.min.js')}

    dtd-login
    dtd-app

    script#login-tpl(type="text/ng-template")
      include templates/login

    script#app-tpl(type="text/ng-template")
      include templates/app

    script#lobby-tpl(type="text/ng-template")
      include templates/lobby

    script#room-tpl(type="text/ng-template")
      include templates/room

    script#game-tpl(type="text/ng-template")
      include templates/game

    script#income-tpl(type="text/ng-template")
      include templates/income

    script(src="/socket.io/socket.io.js")
