div(ng-if="userService.current")
  //- dtd-lobby(ng-if="!roomService.inRoom")
  dtd-room(ng-if="!gameService.inGame")
  dtd-game(ng-if="gameService.inGame")
  //- dtd-room(ng-if="roomService.inRoom && !gameService.inGame")
  //- dtd-game(ng-if="roomService.inRoom && gameService.inGame")
